<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fangtan.hourse.dao.LianjiaHourseMapper">

    <insert id="insert" parameterType="com.fangtan.hourse.domain.LianjiaHourse">
    insert into lianjia_hourse (
    house_code,
    zone,
    sub_zone,
    house_check_code,
    hourse_title,
    community_name,
    room_type,
    total_price,
    now_total_price,
    avg_price,
    build_size,
    room_size,
    hourse_rate,
    living_room_size,
    sleeping_room_count,
    watch_room_count,
    balcony_count,
    kitchen_size,
    use_age,
    create_time,
    update_time
    )
    values (
    #{housecode},
    #{zone},
    #{subZone},
    #{houseCheckcode},
    #{hourseTitle},
    #{communityName},
    #{roomType},
    #{totalPrice},
    #{totalPrice},
    #{avgPrice},
    #{buildSize},
    #{roomSize},
    #{hourseRate},
    #{livingRoomSize},
    #{sleepingRoomCount},
    #{watchRoomCount},
    #{balconyCount},
    #{kitchenSize},
    #{useAge},
          now(),
          now())
  </insert>

    <update id="updateNowPrice"  parameterType="com.fangtan.hourse.domain.LianjiaHourse">
        UPDATE lianjia_hourse
        set now_total_price =#{nowTotalPrice},update_time = now()
        where  house_code =  #{housecode}
    </update>

    <update id="offSale"  parameterType="com.fangtan.hourse.domain.LianjiaHourse">
        UPDATE lianjia_hourse
        set house_status =0 ,update_time = now()
        where  house_code =  #{housecode}
    </update>

    <select id="findAll" resultType="com.fangtan.hourse.domain.LianjiaHourse">
        SELECT * from lianjia_hourse order by id desc
    </select>


    <select id="findByZone" resultType="com.fangtan.hourse.domain.LianjiaHourse">
        SELECT * from lianjia_hourse where zone = #{zone}order by id desc
    </select>

    <select id="findByCode" resultType="com.fangtan.hourse.domain.LianjiaHourse">
        SELECT * from lianjia_hourse where house_code = #{housecode};
    </select>

</mapper>